<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <add name="cnstr" connectionString="Server=317a2306-a03e-443e-b407-a380004e3df6.sqlserver.sequelizer.com;Database=db317a2306a03e443eb407a380004e3df6;User ID=wfcblmemumnchnsg;Password=JcAaXEScuG6PiQoUXxR7yZNBYYitgzAUXFvs6DowCeQ4FDvfpTq2VTYSv8j8vy44;" />
        <add name="E-HealthcareAdvisorConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='C:\Users\admin\Desktop\E-Healthcare Advisor(Zankhana, Jinal)\App_Data\Healthcare.mdf';Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HealthcareConnectionString" connectionString="Server=317a2306-a03e-443e-b407-a380004e3df6.sqlserver.sequelizer.com;Database=db317a2306a03e443eb407a380004e3df6;User ID=wfcblmemumnchnsg;Password=JcAaXEScuG6PiQoUXxR7yZNBYYitgzAUXFvs6DowCeQ4FDvfpTq2VTYSv8j8vy44;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
	</system.web>
</configuration>
